extends ../base

block content
    form(method="POST", action="/user/edit", enctype="multipart/form-data")
        label(for="profilePhoto") Profile Photo
        input(type="file", id="profilePhoto", name="profilePhoto", accept="image/*")
        label Name 
        input(name="name", placeholder="Name",value=user.name, required)
        a(href="resetpassword") Reset Password
        label Email
        input(name="email", placeholder="Email",value=user.email, required)
        label Description
        input(name="description", placeholder="Description",value=user.description)
        label Location 
        input(name="location", placeholder="Set Location",value=user.location)
        input(type="submit", value="Update Profile")