#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  #videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    background-color: rgb(59, 61, 61);
    padding: 10;
    justify-content: space-between;
    flex-wrap: nowrap;
    button {
      display: flex;
      background-color: transparent;
      border-radius: 5px;
      font-size: 20px;
    }
    span {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
    #volume {
      width: 10%;
    }
    #timelineContainer {
      width: 60%;
      #timeline {
        width: 100%;
      }
    }
  }
}
