doctype html
html(lang="en")
    head
        title #{pageTitle} | YouTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            form(action="search") 
                input(placeholder="Search by Title", name="keyword", type="text")
                input(type="submit", value="search")
        main 
            nav
                ul
                    li
                        a(href="/") Home
                    if loggedIn
                        li
                            a(href="/video/upload") Upload Video
                        li
                            a(href="user/:id") #{user.name}'s Profile
                        li
                            a(href="/user/logout") Logout
                    else
                        li
                            a(href="/login") Login
                        li
                            a(href="/join") Create Account
            block content
    include ./partials/footer