extends base

block content
    a(href="edit") Edit Profile
    hr
    h4 Name
    p=user.name
    br
    h4 Email
    p=user.email
    br
    h4 Location
    if !user.location
        p No Location Set
    else 
        p=user.location