extends base.pug
include mixins/video


block content
    div.trendingVideoContainer
        each video in trendingVideos
            +video(video)
        else
            div Sorry No Trending Videos Available