extends base.pug
include mixins/video

block navigator
    nav
        ul
            li
                a(href="/video/upload") Upload

block content
    h1 Home - Welcome!
    div 
        each video in trendingVideos
            +video(video)
        else
            div Sorry No Trending Videos Available
    input(placeholder="Search for Videos!")
    button Send