extends base

block content
    form(method="POST", action="/video/upload")
        input(title="title", placeholder="Enter the Title of Your Video", required, type="text", name="title")
        input(value="Upload", type="submit")