extends ../base

block content
    form(method="POST", action="/user/change-password")
        input(placeholder="Password", required, name="oldpassword", type="password")
        hr
        input(placeholder="New Password", required, name="password", type="password")
        input(placeholder="Confirm New Password", required, name="password2", type="password")
        input(type="submit", value="Change Password")