extends ../base

block content
    h2 Log In
    if errorMessage
        h5=errorMessage
    form(method="POST", action="/login")
        input(name="email", type="email", required, placeholder="Email")
        input(name="password", type="password", required, placeholder="Password")
        input(type="submit", value="Login")
        br
        a(href="/user/github/start") Continue with Github &rarr;
    hr
    div
        span Do Not Have Account? 
        a(href="/join") Create Account &rarr;