include ./mixins/notification
doctype html
html(lang="en")
    head
        title #{pageTitle} | YouTube
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.notification
            +notification("error", messages.notification)
        include ./partials/header
        main 
            block content
        include ./partials/footer
    script(src="/static/js/main.js")
    block scripts